<div class="container-fluid md-12">
    <div class="column md-6" style="width: 50%; margin-left:25%;">
        <h1>Please Login</h1>
        <div style="margin: 10px;">
            <h5>Username</h5>
            <input class="form-control" #uname type="text">
        </div>
        <div style="margin: 10px;">
            <h5>Password</h5>
            <input class="form-control" #pass type="password">
        </div>
        <div style="text-align: center;">
            <button class="btn btn-primary" (click)="onClick(uname.value, pass.value)">Login</button>
        </div>
    </div>
</div>