<div class="row mt-4">
    <div class="md-6">
        <div class="row" style="height: 450px;"></div>
        <div class="col-md-12 side-header">
            <h1>Account Registration</h1>
            <p><em>Register to access latest Stock Market data</em></p>
        </div>
    </div>
    <div class="md-6">
        <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
            <div class="form-group">
                <label>Username</label>
                <input class="form-control required" formControlName="Username">
                <label class="text-danger" *ngIf="service.formModel.get('Username').touched && service.formModel.get('Username').errors?.required">This field is required</label>
            </div>
            <div formGroupName="Passwords">
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control required" formControlName="Password">
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This field is required</label>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input class="form-control required" formControlName="ConfirmPassword">
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This field is required</label>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control required" formControlName="Email">
                <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.required">This field is required</label>
            </div>
            <div class="form-group">
                <label>Mobile</label>
                <input class="form-control required" formControlName="Mobile">
                <label class="text-danger" *ngIf="service.formModel.get('Mobile').touched && service.formModel.get('Mobile').errors?.required">This field is required</label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-lg btn-block">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>